@page
@model back_courrier.Pages.DetailsVueCourrierModel

@{
    ViewData["Title"] = "Transfert courrier";
}

<h1>DetailsVueCourrier</h1>
<div>
    <h4>VueListeCourrier</h4>
    <hr />

    @if (ViewData.ModelState.Any()) 
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <span>@error.ErrorMessage</span>

                <br />
            }
        </div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.IdCourrier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.IdCourrier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.Reference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.Reference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.Objet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.Objet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.DateCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.DateCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.Expediteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.Expediteur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.Flag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.Flag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.Commentaire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.Commentaire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.IdReceptionniste)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.IdReceptionniste)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.NomStatut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.NomStatut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VueListeCourrier.NomDepartement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VueListeCourrier.NomDepartement)
        </dd>
        <div class="form-group">
            <dt class="col-sm-2">
                Transféré vers: 
            </dt>
            <dd class="col-sm-10">
                @if (Model.Prochain != null && Model.Prochain.Any())
                {
                    <select class="form-control">
                        @foreach (var destinataire in Model.Prochain)
                        {
                            <option value="@destinataire.Id">@destinataire.Nom</option>
                        }
                    </select>
                }
                else
                {
                    <p>En attente...</p>
                }
            </dd>
        </div>
        <form method="post">
            <div class="form-group">
                <label asp-for="Historique.DateHistorique" class="control-label"></label>
                <input asp-for="Historique.DateHistorique" class="form-control" />
                <span asp-validation-for="Historique.DateHistorique" class="text-danger"></span>
                <input asp-for="Historique.IdStatut" value="@Model.VueListeCourrier.IdStatut" type="hidden" />
                <input asp-for="Historique.IdCourrierDestinataire" value="@Model.VueListeCourrier.IdCourrierDestinataire" type="hidden" />
            </div>
            @if (Model.Prochain != null && Model.Prochain.Any())
            { 
                <div class="form-group mt-3">
                    <input type="submit" value="Transferer" class="btn btn-primary" />
                </div>
            }
        </form>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.VueListeCourrier?.IdCourrierDestinataire">Edit</a> |*@
    <a asp-page="./ListeCourrier">Back to List</a>
</div>
