@page
@model back_courrier.Pages.HistoriqueModel

@{
    ViewData["Title"] = "Transférer courrier";
}

<h1>Transférer courrier</h1>

<hr />
<div class="row">
    <div class="col-md-6">
@*            @if (ViewData.ModelState.Any())
            {
                <div class="alert alert-danger">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <span>@error.ErrorMessage</span>

                        <br />
                    }
                </div>
            }*@
            <div class="form-group">
            <label asp-for="CourrierDestinataire.Id" class="control-label"></label>
                <input asp-for="CourrierDestinataire.Id" value = "@Model.CourrierDestinataire.Id" class="form-control" disabled/>
                <span asp-validation-for="CourrierDestinataire.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourrierDestinataire.Courrier.Objet" class="control-label"></label>
                <input asp-for="CourrierDestinataire.Courrier.Objet" value="@Model.CourrierDestinataire.Courrier.Objet" class="form-control" disabled />
                <span asp-validation-for="CourrierDestinataire.Courrier.Objet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourrierDestinataire.Courrier.Reference" class="control-label"></label>
                <input asp-for="CourrierDestinataire.Courrier.Reference" value="@Model.CourrierDestinataire.Courrier.Reference" class="form-control" disabled />
                <span asp-validation-for="CourrierDestinataire.Courrier.Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourrierDestinataire.Courrier.Commentaire" class="control-label"></label>
                <texarea asp-for="CourrierDestinataire.Courrier.Commentaire" class="form-control" disabled>
                    @Model.CourrierDestinataire.Courrier.Commentaire
                </textarea>
                <span asp-validation-for="CourrierDestinataire.Courrier.Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pièce Jointe</label>
                <input asp-for="CourrierDestinataire.Courrier.Fichier" value="@Model.CourrierDestinataire.Courrier.Fichier" class="form-control" disabled />
                <span asp-validation-for="CourrierDestinataire.Courrier.Fichier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date création</label>
                <input asp-for="CourrierDestinataire.Courrier.DateCreation" value="@Model.CourrierDestinataire.Courrier.DateCreation.ToString()" class="form-control" disabled />
                <span asp-validation-for="CourrierDestinataire.Courrier.DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Expéditeur</label>
                @if (Model.CourrierDestinataire.Courrier.ExpediteurInterne != null)
                {
                    <input asp-for="CourrierDestinataire.Courrier.ExpediteurInterne.Designation" value="@Model.CourrierDestinataire.Courrier.ExpediteurInterne.Designation" class="form-control" disabled />
                    <span asp-validation-for="CourrierDestinataire.Courrier.ExpediteurInterne.Designation" class="text-danger"></span>
                } else
                {
                    <input asp-for="CourrierDestinataire.Courrier.ExpediteurExterne" value="@Model.CourrierDestinataire.Courrier.ExpediteurExterne" class="form-control" disabled />
                    <span asp-validation-for="CourrierDestinataire.Courrier.ExpediteurExterne" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                <label class="control-label">Recepteur</label>
                <input asp-for="CourrierDestinataire.Courrier.Recepteur.Nom" value="@Model.CourrierDestinataire.Courrier.Recepteur.Nom" class="form-control" disabled />
                <span asp-validation-for="CourrierDestinataire.Courrier.Recepteur.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Flag</label>
                <input asp-for="CourrierDestinataire.Courrier.Flag" value="@Model.CourrierDestinataire.Courrier.Flag" class="form-control" disabled />
                <span asp-validation-for="CourrierDestinataire.Courrier.Flag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Département cible</label>
                <input asp-for="CourrierDestinataire.DepartementDestinataire.Designation" value="@Model.CourrierDestinataire.DepartementDestinataire.Designation" class="form-control" disabled />
                <span asp-validation-for="CourrierDestinataire.DepartementDestinataire.Designation" class="text-danger"></span>
            </div>
            
                @if (Model.Prochain != null && Model.Prochain.Any())
                {
                    <form method="post">
                        <div class="form-group">
                            <label class="control-label">Responsable</label>
                            <select asp-for="CourrierDestinataire.IdResponsable" class="form-control" asp-items="ViewBag.Prochain"></select>
                            <span asp-validation-for="CourrierDestinataire.IdResponsable" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Date historique</label>
                    <input asp-for="CourrierDestinataire.DateMaj" class="form-control" />
                    <span asp-validation-for="CourrierDestinataire.DateMaj" class="text-danger"></span>
                        </div>
                            <input type="hidden" asp-for="CourrierDestinataire.Id" value="@Model.CourrierDestinataire.Id" />
                            <input type="hidden" asp-for="CourrierDestinataire.IdStatut" value="@Model.CourrierDestinataire.IdStatut" />
                            <input type="hidden" asp-for="CourrierDestinataire.IdCourrier" value="@Model.CourrierDestinataire.IdCourrier" />
                            <input type="hidden" asp-for="CourrierDestinataire.IdDepartementDestinataire" value="@Model.CourrierDestinataire.IdDepartementDestinataire" />
                            @*<input type="hidden" asp-for="CourrierDestinataire.IdResponsable" value="@Model.CourrierDestinataire.IdResponsable" />*@
                        <div class="form-group mt-3">
                            <input type="submit" value="Transferer" class="btn btn-primary" />
                        </div>
                    </form>
                }
            
    </div>
</div>

<div class="mt-3">
    <a asp-page="ListeCourrier">Liste courrier</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
