@page
@model back_courrier.Pages.ListeCourrierModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Liste des courriers";
}

<div class="row">
    <div class="col-md-9">
        <h1>Liste des courriers @*(@Model.listeCourrierSansPag.Count)*@</h1>
    </div>
        @if (User.IsInRole(ViewData["RecRole"].ToString()))
    {
        <div class="col-md-2">
            <a class="btn btn-primary" href="CreationCourrier">Ajouter courrier</a>
        </div>
    }
    <div class="col-md-1">
        <form method="post">
            <input type="hidden" name="GridHtml" />
            <a href="ListeCourrier?handler=Export&PageNumber=@Model._pageNumber" class="btn btn-success"> Exporter </a>
        </form>
    </div>
</div>
<div>
    <form method="get" action="/ListeCourrier">
        <div class="row">
            <div class="col-md-4">
                <input asp-for="cd.Courrier.Reference" class="form-control" placeholder="Reference" />
            </div>
            <div class="col-md-4">
                <input asp-for="cd.Courrier.Objet" class="form-control" placeholder="Objet" />
            </div>
            <div class="col-md-4">
                <input asp-for="cd.Courrier.Flag.Designation" class="form-control" placeholder="Flag" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <input asp-for="@Model.DateCreationStart" class="form-control" placeholder="DateCreationStart" />
            </div>
            <div class="col-md-4">
                <input asp-for="@Model.DateCreationEnd" class="form-control" placeholder="DateCreationEnd" />
            </div>
            <div class="col-md-4">
                <input asp-for="cd.Statut.Designation" class="form-control" placeholder="Nom Statut" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <input asp-for="cd.Courrier.ExpediteurExterne" class="form-control" placeholder="Expediteur externe" />
            </div>
            <div class="col-md-4">
                <input asp-for="cd.Courrier.ExpediteurInterne.Designation" class="form-control" placeholder="Expediteur interne" />
            </div>
            <div class="col-md-4">
                <input asp-for="cd.Responsable.Nom" class="form-control" placeholder="Nom responsable" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <input asp-for="cd.DepartementDestinataire.Designation" class="form-control" placeholder="Destinataire" />
            </div>
            <div class="col-md-4">
                <input asp-for="cd.Courrier.Commentaire" class="form-control" placeholder="Commentaire" />
            </div>
            <div class="col-md-4">
                <input asp-for="cd.Courrier.Fichier" class="form-control" placeholder="Pièce jointe" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <input asp-for="cd.Courrier.Recepteur.Nom" class="form-control" placeholder="Recepteur" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <div class="form-row align-items-center">
                    <button type="submit" class="btn btn-primary">Search</button>
@*                    <input type="reset" class="btn btn-danger" value="Reset">*@
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>

<div id="Grid">
    <table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].Courrier.Objet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].Courrier.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].Courrier.Commentaire)
            </th>
            <th>
                Pièce Jointe
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].Courrier.DateCreation)
            </th>
            <th>
                Expéditeur
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].Courrier.Recepteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].Courrier.Flag)
            </th>
            <th>
                Destinataire
            </th>
            <th>
                Status
            </th>
            <th>
                Responsable
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listeCourrier)
        {
            <tr>
                <td>
                    <a href="@Url.Page("Historique", new { id = item.Id, idDepartement = item.IdDepartementDestinataire, idStatut = item.IdStatut })">
                        @Html.DisplayFor(modelItem => item.Id)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Objet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Commentaire)
                </td>
                <td>
                    @{
                        var fileName = System.IO.Path.GetFileName(item.Courrier.Fichier);
                    }
                    @fileName
                </td>
                <td>
                    @item.Courrier.DateCreation.ToString()

                </td>
                @if (item.Courrier.ExpediteurInterne != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Courrier.ExpediteurInterne.Designation)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Courrier.ExpediteurExterne)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Recepteur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courrier.Flag.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartementDestinataire.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsable.Nom)
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (Model._pageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@(Model._pageNumber - 1)">&lt;</a>
            </li>
        }

        @for (int i = 1; i <= Model._totalPages; i++)
        {
            <li class="page-item @(i == Model._pageNumber ? "active" : "")">
                <a class="page-link" href="?pageNumber=@i">@i</a>
            </li>
        }

        @if (Model._pageNumber < Model._totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@(Model._pageNumber + 1)">&gt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@Model._totalPages">&raquo;</a>
            </li>
        }
    </ul>
</nav>

<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>