@page
@model back_courrier.Pages.ListeCourrierModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ListeCourrier";
}

<div class="row">
    <div class="col-md-9">
        <h1>ListeCourrier</h1>
    </div>
    <div class="col-md-1">
        <form method="post">
            <input type="hidden" name="GridHtml" />
            <input type="submit" class="btn btn-success" id="btnSubmit" value="Exporter" asp-page-handler="Export" />
        </form>
    </div>
    @if (User.IsInRole(ViewData["RecRole"].ToString()))
    {
        <div class="col-md-2">
            <a class="btn btn-primary" href="CreationCourrier">Ajouter courrier</a>
        </div>
    }
</div>
@*<div>
    <form method="post" asp-page-handler="Search">
        <div class="row">
        <div class="col-md-4">
            <input asp-for="VueListeCourrier.Reference" class="form-control" placeholder="Reference" />
        </div>
        <div class="col-md-4">
            <input asp-for="VueListeCourrier.Objet" class="form-control" placeholder="Objet" />
        </div>
        <div class="col-md-4">
            <input asp-for="VueListeCourrier.Expediteur" class="form-control" placeholder="Expediteur" />
        </div>
    </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <input asp-for="@Model.DateCreationStart" class="form-control" placeholder="DateCreationStart" />
            </div>
            <div class="col-md-4">
                <input asp-for="@Model.DateCreationEnd" class="form-control" placeholder="DateCreationEnd" />
            </div>
            <div class="col-md-4">
                <input asp-for="VueListeCourrier.NomStatut" class="form-control" placeholder="NomStatut" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <input asp-for="VueListeCourrier.NomDepartement" class="form-control" placeholder="NomDepartement" />
            </div>
            <div class="col-md-4">
                <input asp-for="VueListeCourrier.NomResponsable" class="form-control" placeholder="NomResponsable" />
            </div>
            <div class="col-md-4">
                <input asp-for="VueListeCourrier.Flag" class="form-control" placeholder="Flag" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <input asp-for="VueListeCourrier.Commentaire" class="form-control" placeholder="Commentaire" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary ">Search</button>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>*@

@*<div id="Grid">
    <table  class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID Courrier</th>
            <th scope="col">Reference</th>
            <th scope="col">Objet</th>
            <th scope="col">Date Creation</th>
            <th scope="col">Expediteur</th>
            <th scope="col">Flag</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Destinataire</th>
            <th scope="col">Responsable</th>
            <th scope="col">Statut</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var courrier in Model.ListeCourrier)
        {
            <tr>
                <td><a href="@Url.Page("Historique", new { id = courrier.IdCourrierDestinataire, idDepartement = courrier.IdDepartement, idStatut = courrier.IdStatut })">@courrier.IdCourrierDestinataire</a></td>
                <td>@courrier.IdCourrier</td>
                <td>@courrier.Reference</td>
                <td>@courrier.Objet</td>
                <td>@courrier.DateCreation</td>
                <td>@courrier.Expediteur</td>
                <td>@courrier.Flag</td>
                <td>@courrier.Commentaire</td>
                <td>@courrier.NomDepartement</td>
                <td>@courrier.NomResponsable</td>
                <td>@courrier.NomStatut</td>
            </tr>
        }
    </tbody>
</table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (Model._pageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@(Model._pageNumber - 1)">&lt;</a>
            </li>
        }

        @for (int i = 1; i <= Model._totalPages; i++)
        {
            <li class="page-item @(i == Model._pageNumber ? "active" : "")">
                <a class="page-link" href="?pageNumber=@i">@i</a>
            </li>
        }

        @if (Model._pageNumber < Model._totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@(Model._pageNumber + 1)">&gt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?pageNumber=@Model._totalPages">&raquo;</a>
            </li>
        }
    </ul>
</nav>

<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].CourrierDestinataire.Courrier.Objet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].CourrierDestinataire.Courrier.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].CourrierDestinataire.Courrier.Commentaire)
            </th>
            <th>
                Pièce Jointe
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].CourrierDestinataire.Courrier.DateCreation)
            </th>
            <th>
                Expéditeur
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].CourrierDestinataire.Courrier.Recepteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listeCourrier[0].CourrierDestinataire.Courrier.Flag)
            </th>
            <th>
                Destinataire
            </th>
            <th>
                Status
            </th>
            @if (!User.IsInRole(ViewData["DirRole"].ToString()))
            {
                <th>
                    Transférer
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listeCourrier)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourrierDestinataire.Courrier.Objet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourrierDestinataire.Courrier.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourrierDestinataire.Courrier.Commentaire)
                </td>
                <td>
                    @{
                        var fileName = System.IO.Path.GetFileName(item.CourrierDestinataire.Courrier.Fichier);
                    }
                    @fileName
                </td>
                <td>
                    @item.CourrierDestinataire.Courrier.DateCreation.ToString("dd MMM yyyy HH:mm")

                </td>
                @if (item.CourrierDestinataire.Courrier.ExpediteurInterne != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CourrierDestinataire.Courrier.ExpediteurInterne.Designation)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CourrierDestinataire.Courrier.ExpediteurExterne)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.CourrierDestinataire.Courrier.Recepteur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourrierDestinataire.Courrier.Flag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourrierDestinataire.Departement.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut.Designation)
                </td>

                @if (User.IsInRole(ViewData["CouRole"].ToString()))
                {
                    <td>
                        <a asp-page="Liste" asp-page-handler="Transferer"
                   asp-route-courrier="@item.IdCourrier" asp-route-destinataire="@item.IdDestinataire"
                   asp-route-role="@ViewData["DirRole"]" class="transfer-button">
                            Directeur
                        </a>

                        <a asp-page="Liste" asp-page-handler="Transferer"
                   asp-route-courrier="@item.IdCourrier" asp-route-destinataire="@item.IdDestinataire"
                   asp-route-role="@ViewData["SecRole"]" class="transfer-button">
                            Secrétaire
                        </a>
                    </td>
                }
                else
                {
                    <td class="coursier-name">
                        @if (item.IdCoursier == null)
                        {
                            <a asp-page="Assigner" asp-route-courrier="@item.IdCourrier"
                   asp-route-destinataire="@item.IdDestinataire" class="assign-button">
                                Assigner
                            </a>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Coursier.Nom)
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>